<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <style>
        .z{
            width: 300px;
            height: 300px;
        }
        .y{
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
        li{
            line-height: 40px;
        }

    </style>
</head>
<body>
    <div id="a">
        <input type="text" v-model='msg'>
        <!-- v-once: 在当前视图层 只渲染一次 -->
        <p v-once>{{ msg }}</p>
        <p>{{ msg }}</p>
        <br><br>

        <!-- v-model.lazy 在失去光标的时候 数据进行回流 -->
        <input type="text" v-model.lazy='msgs'>
        <p>{{ msgs }}</p>

        <!-- 将数据转化为 number 转化机制符合 parseInt() 规律 -->
        <input type="text" v-model.number='n'>
        <p>{{ n }}</p>

        <!-- 抹去字符串 两端的空白 -->
        <input type="text" v-model.trim='m'>
        <p>{{ m }}</p>

        <h1>v-model 案例</h1>
        <img :src="src" alt="" :class="w"><br />
        图片 : 图片1 <input type="radio" v-model='src' value="../img/1.jpg"> 图片2 <input type="radio" v-model='src' value="../img/2.jpg"><br><br>
        风格 : 矩形 <input type="radio" v-model='w' value="z"> 圆形 <input type="radio" v-model='w' value="y">
        
        <ul>
            <!-- 循环数组 -->
            <li v-for='item in list'>{{ item }}</li>
            <!-- 计数型循环 -->
            <li v-for='item in 10'>{{ item }}</li>
            <!-- 循环 json -->
            <li v-for='(item,key) in object'>{{ key }} => {{ item }}</li>
            <li v-for='item in shu'>
                
                    id:{{ item.id }}&nbsp;&nbsp;&nbsp;
                    name:{{ item.name }}&nbsp;&nbsp;&nbsp;
                    age:{{ item.age }}&nbsp;&nbsp;&nbsp;
                
            </li>
            <button v-on:click="tian()">点击添加一项</button>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: '#a',
            data: {
                msg: '娃哈哈',
                msgs: '娃哈哈',
                src: '../img/1.jpg',
                w: 'z',
                n: '200',
                m: 'dsada',
                list: ['css3','html5','js','vue'],
                object: {name: '成龙',age: 18},
                shu: [
                    {id: 1, name: '哈哈', age: 14},
                    {id: 2, name: '呵呵', age: 15},
                    {id: 3, name: '嘎嘎', age: 16},
                    {id: 4, name: '妞妞', age: 17},
                    {id: 5, name: '牛牛', age: 18},
                ]
            },
            methods: {
                tian: function() {
                    let shu2 = {id: 6, name: '牛牛2', age: 18};
                    this.shu.push(shu2);
                }
            }
        })
        /*
            parseFloat()
            parseInt()

            字符串是纯数字转化返回全部

        */
    </script>
</body>
</html>