<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue@2.5.16/vue.js"></script>
</head>
<body>
    <!-- 计算器功能 -->
    <div id="app">
        数: <input type="text" v-model='one'><br><br>
        &nbsp;&nbsp;&nbsp;<input type="radio" name="a" v-model='s' value="+">+
        <input type="radio" name="a" v-model='s' value="-">-
        <input type="radio" name="a" v-model='s' value="*">*
        <input type="radio" name="a" v-model='s' value="/">/<br><br>
        数: <input type="text" v-model='two'><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<button v-on:click='dian()'>=</button><br><br>
        值: <input type="text" v-model='zhi'>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                one: '',
                s: '',
                two: '',
                zhi: '',
            },
            methods: {
                dian: function() {
                    let one = this.one;
                    let s = this.s;
                    let two = this.two;
                    this.zhi = one + s + two + '=' + eval(one + s + two);
                    
                    
                }
            }
        });

    </script>
    <!-- 显示隐藏 -->
    <style>
        .box{
            width: 200px;
            height: 200px;
            background-color: red;
        }
        .box2{
            width: 200px;
            height: 200px;
            background-color: orange;
        }
    </style>
    <div class="app">
        <button v-on:click='xian = !xian'>点击</button>
        <!-- 只有if 没有else 作用于 视图层 元素 的显示隐藏 -->
        <!-- 隐藏时删除dome元素 -->
        <div class="box" v-if='xian'></div>
        <!-- v-show 隐藏元素时 是切换 样式display 不会移除dome元素 -->
        <!-- 切换次数比较频繁 就使用 v-show -->
        <div class="box2" v-show='xian'></div>

        <!--
            v-if 如果使用条件比较复杂的情况下

                1.使用的时候要求 判断条件出现的 dom节点 要求一致
                2.判断过程中 dom 节点，不允许出现断层

        -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <ul>
            <li v-if='jia'>
                <button>登陆</button>
                <p>点击登陆吧 </p>
            </li>
            <li v-else>
                <button>未登录</button>
                <p>注册个账号吧</p>
            </li>
        </ul>

        <template v-if='shu > 80'>
            <p>成绩优秀</p>
        </template>
        <template v-else-if='shu == 60'>
            <p>成绩及格</p>
        </template>
        <template v-else>
            <p>太差了</p>
        </template>

        <!--

            v-on 简写 @
        -->
    </div>
    
    <script>
        const vvm = new Vue({
            el: '.app',
            data: {
                xian: false,
                jia: true,
                shu: 84
            }
        });
    </script>

</body>
</html>