<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue-2.6.10.js"></script>
    <script src="../lib/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for='(item,index) in items' :key='index'><input type="checkbox" name="" id="" :value='item.id' v-model='checkedData'>{{ item.name }}</li>
        </ul>

        <button @click='allInputTrue()'>全选</button>
        <button @click='allInputFalse()'>全不选</button>
        <button @click='allInputFan()'>反选</button>
        <h1>{{ title }}</h1>
        <!-- 不能加 () -->
        <my-a :msg='msg' v-on:fun='jiaData'></my-a>

    </div>

        <template id="my-a">
            <div>
                <h2>哇嘎嘎 {{ msg }}</h2>
                <h5 v-html='shu'></h5>
                <button @click="demo">点击将数据传给父组件</button>
            </div>
            
        </template>

    <script>

        Vue.component('my-a',{
            template: '#my-a',
            props: ['msg','fun'],
            data(){
                return{
                    shu: '我是子组件的值'
                }
                
            },
            methods: {
                demo() {
                    this.$emit('fun',this.shu)
                }
            }
        })
        /*
            Vue中
            实现全选 给input：checkbox 绑定数组

            如果 input：checkbox 的 value 再绑定的数组中存在， 则是选中状态
        
        
        
        
        */
        const vm = new Vue({
            el: '#app',
            data: {
                title: '父组件给子组件传值',
                msg: '又进来一个值',
                items: [
                    {id: 1, name: '成龙'},
                    {id: 2, name: '李小龙'},
                    {id: 3, name: '甄子丹'},
                    {id: 4, name: '霍建华'},
                ],
                checkedData:[]
            },
            methods: {
                jiaData(shu) {
                    this.msg = shu;
                },
                allInputTrue() {
                    let arr = [];
                    this.items.forEach(element => {
                        arr.push(element.id);
                    });
                   
                    this.checkedData = arr;
                },
               
                allInputFalse() {
                    this.checkedData = [];
                },

                allInputFan() {
                    let arr = [];
                    this.items.forEach(element => {
                        arr.push(element.id);
                    });

                    let arr2 = [];
                    arr.forEach(item => {
                        if(this.checkedData.indexOf(item) === -1){
                            arr2.push(item);
                        }
                    })
                    this.checkedData = arr2;
                }
            }
        })
    </script>
</body>
</html>