<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue-2.6.10.js"></script>
    <script src="../lib/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <!-- <h1>{{ title }}</h1>
        <router-view name='kuai'></router-view>
        <router-link to="/home">首页</router-link>
        <router-link to="/login">登录</router-link>

        <h4>home</h4>
        <router-view name="home"></router-view>

        <h4>login</h4>
        <router-view name="login"></router-view>

        <h4>default</h4>
        <router-view></router-view> -->
        <router-link to="/login" tag="button">登录</router-link>
        <router-link to="/admin" tag="button">网站后台的首页</router-link>
        <router-link to="/adminusers" tag="button">后台的用户系统</router-link>
        <router-link to="/adminpay" tag="button">后台财政系统</router-link>

        <!-- 设置出口 -->
        <router-view></router-view>

        
    </div>

    <!-- <template id="home">
        <div>
            <p>home.....</p>
        </div>
    </template>

    <template id="login">
        <div>
            <p>login....</p>
        </div>
    </template>

    <template id="kuai">
        <div>
            <p>kuai....</p>
        </div>
    </template> -->

    <template id="login">
        <div>
            用户：<input type="text" v-model="uname"><br><br>
            密码：<input type="text" v-model="upass"><br><br>
            <input type="button" value="登录" @click="adminlogin">
        </div>
    </template>

    <template id="admin">
        <div>
            <h3>网站后台的首页</h3>
        </div>
    </template>

    <template id="adminusers">
        <div>
            <h3>后台的用户系统</h3>
        </div>
    </template>

    <template id="adminpay">
        <div>
            <h3>后台财政系统</h3>
        </div>
    </template>


    <script>
     // 准备组件
     const login = {
            template: '#login',
            data() {
                return {
                    uname: '',
                    upass: ''
                }
            },
            methods: {
                adminlogin() {
                    let uname = this.uname;
                    let upass = this.upass;
                    // console.log(uname,upass)
                    if (uname == 'admin' && upass == 123) {
                        // console.log('登录ok');
                        localStorage.setItem('web1907_admin_loing', JSON.stringify({
                            login: true
                        }));

                        // 跳转  网站首页
                        this.$router.push('/admin');

                    } else {
                        alert('登录失败');
                    }
                }
            }
        }
        const admin = {
            template: '#admin'
        }
        const adminusers = {
            template: '#adminusers'
        }
        const adminpay = {
            template: '#adminpay'
        }


        // 组件路由规则
        const routes = [{
                path: '/login',
                component: login,
                name: 'login'
            },
            {
                path: '/admin',
                component: admin,
                name: 'admin'
            },
            {
                path: '/adminusers',
                component: adminusers,
                name: "adminusers"
            },
            {
                path: '/adminpay',
                component: adminpay,
                name: "adminpay"
            }
        ];


        // 实例化
        const router = new VueRouter({
            routes
        });

        // 增加路由守卫
        router.beforeEach((to, from, next) => {
            // 判断当前访问的额路由是谁
            if (to.name == 'login') {
                // 允许通过  
                next();
            } else {

                // console.log(to);
                // console.log(from);
                // web1907_admin_loing
                // 判断当前登录的状态
                let adminlogin = JSON.parse(localStorage.getItem('web1907_admin_loing'));
                // console.log(adminlogin);
                // 登录状态是 ： true
                if (adminlogin.login) {
                    next();
                } else {
                    // 跳转到登录页面
                    next('/login');
                }
            }
        })

        // 挂载
        const vm = new Vue({
            router,
            el: '#app',
            data: {

            },
            methods: {}
        });

         // 准备组件
        // const home = {
        //     template: "#home"
        // }
        // const login = {
        //     template: "#login"
        // }

        // const kuai = {
        //     template: '#kuai'
        // }


        // // 准备路由规则
        // const routes = [
        //     {
        //         path:'/',
        //         components:{
                    
        //             home,
        //             login,
        //             kuai,
        //         }
        //     },
        //     {
        //         path:'/login',
        //         component:login
        //     },
        //     {
        //         path:'/home',
        //         components:{
                    
        //             home
        //         }
        //     }
        // ];
        // // 注册路由
        // const router = new VueRouter({
        //     routes
        // })

        // const vm = new Vue({
        //     router,
        //     el: '#app',
        //     data: {
        //         title: '视图命名',
        //     }
        // })
    </script>
</body>
</html>